{% extends 'base.html' %}

{% block content %}

    <!-- Slider Area -->
    {% include '_components/index/slider.html' %}

    <!-- Deal Area -->
    {% include '_components/index/deal_area.html' %}

    <!-- Women-product Limited Offer -->
    {% include '_components/index/limited_offer.html' %}

    <!-- Artical Area -->
    {% include '_components/index/artical_area.html' %}

    <!-- Product Area -->
    {% include '_components/index/product_area.html' %}

    <!-- Instagram Area -->
    {% include '_components/index/instagram_area.html' %}

{% endblock %}