{% load static %}
<!-- Artical Area Starts -->
<div class="artical-area pt-125  pb-120" style="background-image: url({% static 'img/team/team-bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-11 offset-xl-1 offset-md-1 offset-sm-1">
                <div class="artical-img pb-20">
                    <img src="{% static 'img/icon/quotation-mark.png' %}" alt="quot">
                </div>
                <div class="artical-text">
                    <p>Pellentesque vel dolor consectetur, vulputate eros vitae, molestie felis. Vivamus ornare
                        augue lorem at vulputate dolor consectetur vulputate leo.</p>
                </div>
                <hr>
                <div class="author-detalis d-flex pt-25">
                    <div class="author-img">
                        <img src="{% static 'img/team/team-member-1.png' %}" alt="">
                    </div>
                    <div class="author-info ml-15 pt-15">
                        <h5>Masum Billa Munna</h5>
                        <span>Exclusive at UX/UI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Artical Area Ends -->