{% load static %}
<!-- Deal Area Starts -->
<div class="deal-area pt-90 pb-50">
    <div class="deal-area-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-7 col-12 offset-xl-1 offset-lg-1 ">
                    <div class="time-area">
                        <p>New in Store</p>
                        <div class="section-title">
                            <h3>
                                Deal of the Day
                            </h3>
                        </div>
                        <div id="countdown">
                            <div class="cd-box">
                                <span class="numbers days">00</span>
                                <span class="strings timeRefDays">Days</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers hours">00</span>
                                <span class="strings timeRefHours">Hours</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers minutes">00</span>
                                <span class="strings timeRefMinutes">Mins</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers seconds">00</span>
                                <span class="strings timeRefSeconds">Secs</span>
                            </div>
                        </div>
                        <a href="cart-page.html" class="dbtn">Buy Now <i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-5 col-sm-5 col-8 offset-xl-1">
                    <div class="deal-img">
                        <img src="{% static 'img/blog/blog-1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Area Ends -->