{% load static %}
<!-- Slider Area Starts -->
<div class="slider-area slider-responsive owl-carousel position-relative">
    <div class="single-slide pb-45" style="background-image: url({% static 'img/slider/slider-bg.png' %});">
        <div class="slider-content slider-height pt-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                        <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                            <img src="{% static 'img/slider/slider-img.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                        <div class="hero-text pt-160">
                            <h1>
                                Men E - 2.0z
                                Ankle Watch.
                            </h1>
                            <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                tortor arcu, commodo sit amet nulla sed.</p>
                            <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide pb-45" style="background-image: url({% static 'img/slider/slider-bg.png' %});">
        <div class="slider-content slider-height pt-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                        <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                            <img src="{% static 'img/slider/slider-img.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                        <div class="hero-text pt-160">
                            <h1>
                                Men E - 2.0z
                                Ankle Watch.
                            </h1>
                            <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                tortor arcu, commodo sit amet nulla sed.</p>
                            <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide pb-45" style="background-image: url({% static 'img/slider/slider-bg.png' %});">
        <div class="slider-content slider-height pt-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-4">
                        <div class="slider-img pt-100 pt-md-0 d-none d-sm-block">
                            <img src="{% static 'img/slider/slider-img.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 col-change offset-xl-2">
                        <div class="hero-text pt-160">
                            <h1>
                                Men E - 2.0z
                                Ankle Watch.
                            </h1>
                            <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque
                                tortor arcu, commodo sit amet nulla sed.</p>
                            <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i>Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area Ends -->