<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="shop, ecommerce, store, multipurpose, shopify, woocommerce, html5, css3, sass">
    <!-- Title -->
    <title>{{ title }}</title>
    <!-- Fav and Stylesheets -->
    {% include '_components/_style.html' %}
</head>
<body>
    <!-- Preloader Starts-->
    <div class="loader">
        <div class="loding-cricle"></div>
    </div>

    <!-- Autopopup Area -->
    {% include '_components/_popup.html' %}

    <!-- Header Area -->
    {% include '_components/_header.html' %}

    <!-- Main content -->
    {% block content %}
    {% endblock %}

    <!-- Subscribe Area -->
    {% include '_components/_subscribe_area.html' %}

    <!-- Brand Area -->
    {% include '_components/_brand_area.html' %}

    <!-- Footer Area -->
    {% include '_components/_footer.html' %}

    <!-- scripts -->
    {% include '_components/_javascript.html' %}
</body>