{% extends 'base.html' %}
{% block style %}
    {% include 'shop/detalis/_components/style.html' %}
{% endblock %}

{% block content %}
    <!-- =================Page Title Area Starts================= -->
    <div class="page-title-area pt-130 pb-120 " style="background-image: url(assets/img/bg/contact-bg.png);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-titel-detalis">
                        <div class="page-title position-relative">
                            <h2>{{ title }}</h2>
                        </div>
                        <div class="page-bc">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'shop:index' %}"> <i
                                                class="fas fa-home "></i>На главную</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a
                                            href="shop-list-page.html">Информация о товаре</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Page Title Area Ends================= -->

    <!-- =================Product Area Starts================= -->
    <div class="product-detalis-left product-area product-shop-page  product-list-page product-detalis-page product-detalis-left-side pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="sidebar-widget">
                        {% include 'shop/grid/_components/_categories.html' %}
                    </div>
                </div>
                {% include 'shop/grid/_components/_category_filter.html' %}
            </div>
        </div>
    </div>
    <!-- =================Product Area Ends================= -->

    <!-- =================Product Area Starts================= -->
    <div class="product-area pb-10 pt-45 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title">
                        <h3>
                            Related Products
                        </h3>
                    </div>
                </div>
            </div>
            <hr>

        </div>
        <div class="container pl-0 pr-0">
            <div class="custom-row ">
                <div class="product-active pt-30">
                    <div class="col-xl-3">
                        <div class="product-wrapper">
                            <div class="product-img ">
                                <img src="assets/img/product/product-1.jpg" alt="product">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="flip-box">
                                <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="price-color ">
                                        <div class="price d-inline-block">
                                            <span>$999</span>
                                            <del>$899</del>
                                        </div>
                                        <div class="color float-right d-flex">
                                            <span>Color:</span>
                                            <div class="color-set">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                    <div class="product-info">
                                     <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="buy-info ">
                                        <div class="cart float-left">
                                            <a href="#"><img src="assets/img/icon/cart-red.png" alt=""> Add To Cart</a>

                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="product-wrapper">
                            <div class="product-img sale-product ">
                                <img src="assets/img/product/product-2.jpg" alt="product">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="flip-box">
                                <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="price-color ">
                                        <div class="price d-inline-block">
                                            <span>$999</span>
                                            <del>$899</del>
                                        </div>
                                        <div class="color float-right d-flex">
                                            <span>Color:</span>
                                            <div class="color-set">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="buy-info ">
                                        <div class="cart float-left">
                                             <a href="#"><img src="assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="product-wrapper">
                            <div class="product-img ">
                                <img src="assets/img/product/product-3.jpg" alt="product">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="flip-box">
                                <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                    <span>Women Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="price-color ">
                                        <div class="price d-inline-block">
                                            <span>$999</span>
                                            <del>$899</del>
                                        </div>
                                        <div class="color float-right d-flex">
                                            <span>Color:</span>
                                            <div class="color-set color-black">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="buy-info ">
                                        <div class="cart float-left">
                                             <a href="#"><img src="assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="product-wrapper">
                            <div class="product-img new-product">
                                <img src="assets/img/product/product-4.jpg" alt="product">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="flip-box">
                                <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                    <span>Women Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="price-color ">
                                        <div class="price d-inline-block">
                                            <span>$999</span>
                                            <del>$899</del>
                                        </div>
                                        <div class="color float-right d-flex">
                                            <span>Color:</span>
                                            <div class="color-set color-white">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="buy-info ">
                                        <div class="cart float-left">
                                             <a href="#"><img src="assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="product-wrapper">
                            <div class="product-img ">
                                <img src="assets/img/product/product-2.jpg" alt="product">
                                <ul class="social-icon">
                                    <li><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="far fa-heart" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="flip-box">
                                <div class="product-detalis pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="price-color ">
                                        <div class="price d-inline-block">
                                            <span>$999</span>
                                            <del>$899</del>
                                        </div>
                                        <div class="color float-right d-flex">
                                            <span>Color:</span>
                                            <div class="color-set">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-detalis product-detalis-2 pt-15 pl-20 pr-20 pb-25">
                                    <span>Men Fashion</span>
                                    <h6><a href="detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                    <div class="buy-info ">
                                        <div class="cart float-left">
                                             <a href="#"><img src="assets/img/icon/cart-red.png" alt=""> Add To Cart</a>
                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- =================Product Area Ends================= -->
    {% include 'shop/detalis/_components/js.html' %}
{% endblock %}

