{% extends 'base.html' %}

{% load static %}

{% block style %}
    {% include 'shop/grid/_components/style.html' %}
{% endblock %}

{% block content %}
    <!-- =================Page Title Area Starts================= -->
    <div class="page-title-area pt-130 pb-120"
         style="background-image: url({{ category.get_parent_category_image }});">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-titel-detalis">
                        <div class="page-title position-relative">
                            <h2>{{ title }}</h2>
                        </div>
                        <div class="page-bc">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'shop:index' %}">
                                            <i class="fas fa-home"></i>
                                            На главную
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a href="shop-list-page.html">
                                            В магазин
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Page Title Area Ends================= -->

    <!-- =================Product Area Starts================= -->
    <div class="product-area  product-shop-page pt-50">
        <div class="container">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-3 col-md-12">
                    <div class="sidebar-widget">
                        {% include 'shop/grid/_components/_categories.html' %}
                    </div>
                    
                    <!-- Category fileter -->
                    {% include 'shop/grid/_components/_category_filter.html' %}
                    <div class="hot-sale-product-area pt-50">
                        <div class="hot-lookbook">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="col-xl-12">
                                        <div class="section-title pb-5">
                                            <h3>
                                                Скидка
                                            </h3>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="custom-row">
                                <div class="hot-sale-product-active-2 pt-30">
                                    <div class="col-xl-6">
                                        <div class="product-wrapper d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-23.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper mt-25 d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-27.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis ">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="product-wrapper d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-24.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper mt-25 d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-28.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="product-wrapper d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-21.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper mt-25 d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-25.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis ">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="product-wrapper d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-22.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper mt-25 d-flex">
                                            <div class="product-img pr-15">
                                                <img src="{% static 'img/product/product-26.png' %}" alt="product">
                                                <div class="cart-icon">
                                                    <img src="{% static 'img/icon/cart-white.png' %}" alt="cart">
                                                </div>
                                            </div>
                                            <div class="product-detalis ">
                                                <span>Men Dress</span>
                                                <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a>
                                                </h6>
                                                <div class="price d-flex">
                                                    <span>$999</span>
                                                    <del>$899</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main content -->
                <div class="col-xl-9 col-lg-9 col-md-12">
                    <div class="row">
                        <div class="col-xl-12 pb-50">
                            <!-- Toolbar -->
                            <div class="toolbar-navi d-inline-block ">
                                <div class="toolbar d-flex">
                                    {% include 'shop/_components/_view_as.html' %}
                                    {% include 'shop/_components/_sort.html' %}
                                    {% include 'shop/_components/_show.html' %}
                                </div>
                            </div>
                            <!-- Pagination -->
                            {% include 'shop/_components/_pagination.html' %}
                        </div>
                    </div>
                    <!-- Products Grid -->
                    <div class="row g-4">
                        {% for product in products %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 m30">
                                {% include "shop/_components/_product_card.html" %}
                            </div>
                            {% empty %}
                            <p>Товары не найдены.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================Product Area Ends================= -->

    <!-- scripts -->
    {% include 'shop/grid/_components/js.html' %}
{% endblock %}