{% extends 'base.html' %}
{% load static %}

{% block style %}
    {% include 'shop/grid/_components/style.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- HERO SECTION-->
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">{{ title }}</h1>
                    </div>
                    <div class="col-lg-6 text-lg-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                                <li class="breadcrumb-item"><a href="{% url 'shop:index' %}">На главную</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container p-0">
                <div class="row">
                    <!-- SHOP SIDEBAR-->
                    {% include 'shop/grid/_components/categories.html' %}
                    <!-- SHOP LISTING-->
                    <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                        <div class="row mb-3 align-items-center">
                            <div class="col-lg-6 mb-2 mb-lg-0">
                                <p class="text-small text-muted mb-0">Показывать 1–12 of 53 товары</p>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                                    <li class="list-inline-item text-muted mr-3">
                                        <a class="reset-anchor p-0" href="#"><i class="fas fa-th-large"></i></a>
                                    </li>
                                    <li class="list-inline-item text-muted mr-3">
                                        <a class="reset-anchor p-0" href="#"><i class="fas fa-th"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <select class="selectpicker ml-auto" name="sorting" data-width="200"
                                                data-style="bs-select-form-control" data-title="Default sorting">
                                            <option value="default">Default sorting</option>
                                            <option value="popularity">Popularity</option>
                                            <option value="low-high">Price: Low to High</option>
                                            <option value="high-low">Price: High to Low</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <!-- PRODUCT-->
                            {% for product in products %}
                                {% include 'shop/_components/_product_card.html' %}
                            {% endfor %}
                        </div>
                        <!-- PAGINATION-->
                        {% include 'shop/_components/_pagination.html' %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Js scripts-->
    {% block scripts %}
        {% include 'shop/grid/_components/js.html' %}
    {% endblock %}
{% endblock %}
