{% load custom_tags %}
{% get_sorted as data %}

<div class="sidebar-widget mt-50">
    <div class="categorie">
        <h4><i class="fas fa-list"></i>Категории</h4>
        <hr>
        {% for key in data %}
        <div class="input-range pb-30 position-relative ml-10 pt-15 mr-10">
            <div class="color-cat">
                <span>{{ key.title }}</span>
                <ul class="color-option position-relative">
                    <li>
                        <a href="?sort={{ key.sorters.0 }}">Выбрать {{ key.title }}
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <!-- Контейнер для подкатегорий -->
                        <ul class="sub-color position-absolute">
                            {% for sorter in key.sorters %}
                                <li>
                                    <a href="?sort={{ sorter.0 }}">
                                        {{ sorter.1 }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>