<div class="categorie">
    <h4><i class="fas fa-list"></i>Все категории</h4>
    <hr>
    <ul class="categories-list pt-10 pl-20">
        {% for category in categories %}
            {% if not category.parent %}
                <!-- Основная категория -->
                <li class="category-item" data-category-id="{{ category.id }}">
                    <a href="?type={{ category.slug }}">{{ category }}</a>
                    {% if category.subcategories.exists %}
                        <!-- Контейнер для подкатегорий -->
                        <div class="subcategories-container pt-10 pl-20" data-category-id="{{ category.id }}">
                            <ul>
                                {% for subcategory in category.subcategories.all %}
                                    <li>
                                        <a href="?type={{ subcategory.slug }}">
                                            {{ subcategory }}
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr>
    <div class="more-categories pl-20 pt-10 pb-15">
        <a href="#">Больше категорий</a>
    </div>
</div>