{% load custom_tags %}

{% get_sorted as data %}
<!-- Sorting -->
{% for key in data %}
    <h6 class="text-uppercase mb-3">{{ key.title }}</h6>
    <form method="get" action="" id="sort-form-{{ forloop.counter }}">
        {% for sorter in key.sorters %}
            <div class="form-check mb-2">
                <input class="form-check-input"
                       type="radio"
                       name="sort"
                       id="sort-{{ sorter.0 }}"
                       value="{{ sorter.0 }}"/>
                <label class="form-check-label text-small" for="sort-{{ sorter.0 }}">{{ sorter.1 }}</label>
            </div>
        {% endfor %}
    </form>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sortForms = document.querySelectorAll('form[id^="sort-form-"]');

        sortForms.forEach(form => {
            const radioButtons = form.querySelectorAll('input[type="radio"]');
            radioButtons.forEach(radio => {
                radio.addEventListener('change', function () {
                    form.submit();
                });
            });
        });
    });
</script>
