{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <!-- Page Title Area Starts -->
    <div class="page-title-area pt-130 pb-120 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="page-title position-relative">
                        <h2 class="display-4 fw-bold">{{ title }}</h2>
                    </div>
                    <div class="page-bc">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center bg-transparent">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'shop:index' %}"
                                       class="text-decoration-none text-secondary">
                                        <i class="fas fa-home me-2"></i>На главную
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="{% url 'auth:login' %}"
                                       class="text-decoration-none text-primary">{{ title }}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Title Area Ends -->
    <!-- Login Area Starts -->
    <div class="login-page-area pt-50 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-9">
                    <div class="login-detalis bg-white p-4 rounded-3 shadow-sm">
                        <div class="login-input">
                            <form action="{% url 'auth:login' %}"
                                  class="login-form"
                                  method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text"
                                           name="username"
                                           id="username"
                                           class="form-control"
                                           placeholder="Имя пользователя"
                                           required/>
                                    <label for="username">Имя пользователя</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password"
                                           name="password"
                                           id="password"
                                           class="form-control"
                                           placeholder="Пароль"
                                           required/>
                                    <label for="password">Пароль</label>
                                </div>
                                <div class="d-grid gap-2 mb-3">
                                    <button class="btn btn-primary py-2 rounded-pill" type="submit">Войти</button>
                                </div>
                            </form>
                        </div>
                        <div class="or text-center my-4 position-relative">
                            <span class="bg-white px-3">Войти с помощью:</span>
                            <hr class="position-absolute w-100" style="top: 50%; z-index: -1;"/>
                        </div>
                        <div class="login-account text-center">
                            <a href="#" class="btn btn-outline-primary me-2 rounded-pill">
                                <i class="fab fa-facebook-f me-2"></i>Facebook
                            </a>
                            <a href="#" class="btn btn-outline-danger rounded-pill">
                                <i class="fab fa-google me-2"></i>Google
                            </a>
                        </div>
                        <div class="login-information mt-4">
                            <div class="remember-me d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" id="remember-me" class="form-check-input"/>
                                    <label for="remember-me" class="form-check-label text-secondary">Запомнить
                                        меня</label>
                                </div>
                                <a href="#" class="text-decoration-none text-secondary">Забыли пароль?</a>
                            </div>
                        </div>
                        <div class="login-button text-center mt-4">
                            <p class="mb-0">Нет аккаунта? <a href="{% url 'auth:register' %}"
                                                             class="text-decoration-none text-primary">Зарегистрироваться</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Area Ends -->
{% endblock %}
