{% load django_bootstrap5 %}
{% load static %}
{% load fav_tags %}

<!-- PRODUCT-->
<div class="col-lg-4 col-sm-6">
    <div class="product text-center">
        <div class="mb-3 position-relative">
            <div class="badge text-white bg-"></div>
            <a class="d-block" href="{% url 'shop:product_detail' product.slug %}">
                <img class="img-fluid w-50 h-25"
                     src="{{ product.get_main_photo }}"
                     alt="{{ product }}"/>
            </a>
            <div class="product-overlay">
                <ul class="mb-0 list-inline">
                    {% if request.user.is_authenticated %}
                        {% if product.is_favorite %}
                            <li class="list-inline-item m-0 p-0">
                                <a class="btn btn-sm btn-outline-dark"
                                   href="{% url 'favs:remove_favorite' product.slug %}">
                                    <i class="fas fa-heart" style="color: red;"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="list-inline-item m-0 p-0">
                                <a class="btn btn-sm btn-outline-dark"
                                   href="{% url 'favs:add_favorite' product.slug %}">
                                    <i class="far fa-heart"></i>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                    <!-- Добавить в корзину -->
                    <li class="list-inline-item m-0 p-0">
                        <a class="btn btn-sm btn-dark"
                           href="{% url 'baskets:to_basket' product.pk %}">В корзину</a>
                    </li>
                    <li class="list-inline-item me-0">
                        <a class="btn btn-sm btn-outline-dark"
                           href="#productView-{{ product.id }}"
                           data-bs-toggle="modal">
                            <i class="fas fa-expand"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <h6>
            <a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </h6>
        <p class="small text-muted">{{ product.price }} РУБ.</p>
    </div>
</div>
