{% load custom_tags %}

<div class="sort-by d-flex mr-30">
    <span class="mr-10">Показать товары по:</span>
    <div class="sort-by-option position-relative">
        <button id="sort-option" class="sort-option">
            популярности
            <i class="fas fa-caret-down"></i>
        </button>
        <div id="sub-sort-option" class="sub-sort-option position-absolute">
            <a href="#">алфавиту</a>
            <a href="#">убыванию</a>
            <a href="#">возрастанию</a>
        </div>
    </div>
</div>
