{% load static %}

<!-- CATEGORIES SECTION-->
<section class="pt-5">
  <header class="text-center">
    <p class="small text-muted small text-uppercase mb-1">Качественные товары</p>
    <h2 class="h5 text-uppercase mb-4">Изучите категории</h2>
  </header>
  <div class="row">
    {% for cat in categories %}
      <div class="col-md-4 mb-4 mb-md-0">
        <a class="category-item" href="{{ cat.get_absolute_url }}">
          <img class="img-fluid"
               src="{{ cat.image.url }}"
               alt=""
               style="width: 150px;
                      height: 170px" />
          <strong class="category-item-title">{{ cat.title }}</strong></a>
      </div>
    {% endfor %}
  </div>
</section>
