{% load static %}
<!-- =================Blog Area Starts================= -->
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title ">
                    <h3>
                        Letest Blog
                    </h3>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <div class="container pl-0 pr-0">
        <div class="custom-row">
            <div class="blog-active pt-30">
                <div class="col-xl-3">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <img src="{% static 'img/blog/blog-3.png' %}" alt="product">
                        </div>
                        <div class="blog-detalis">
                            <span>Admin By <span>- Alamgir Joy</span></span>
                            <a href="shop-detalis-page.html">Nulla in consectetur ligula. In in cursus sapien.</a>
                            <p>In vitae convallis diam. Nulla pellentesqu nulla sed tellus maximus molestie. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <img src="{% static 'img/blog/blog-4.png' %}" alt="product">
                        </div>
                        <div class="blog-detalis">
                            <span>Admin By <span>- Alamgir Joy</span></span>
                            <a href="shop-detalis-page.html">Nulla in consectetur ligula. In in cursus sapien.</a>
                            <p>In vitae convallis diam. Nulla pellentesqu nulla sed tellus maximus molestie. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <img src="{% static 'img/blog/blog-5.png' %}" alt="product">
                        </div>
                        <div class="blog-detalis">
                            <span>Admin By <span>- Alamgir Joy</span></span>
                            <a href="shop-detalis-page.html">Nulla in consectetur ligula. In in cursus sapien.</a>
                            <p>In vitae convallis diam. Nulla pellentesqu nulla sed tellus maximus molestie. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <img src="{% static 'img/blog/blog-6.png' %}" alt="product">
                        </div>
                        <div class="blog-detalis">
                            <span>Admin By <span>- Alamgir Joy</span></span>
                            <a href="shop-detalis-page.html">Nulla in consectetur ligula. In in cursus sapien.</a>
                            <p>In vitae convallis diam. Nulla pellentesqu nulla sed tellus maximus molestie. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="blog-wrapper">
                        <div class="blog-img">
                            <img src="{% static 'img/blog/blog-4.png' %}" alt="product">
                        </div>
                        <div class="blog-detalis">
                            <span>Admin By <span>- Alamgir Joy</span></span>
                            <a href="shop-detalis-page.html">Nulla in consectetur ligula. In in cursus sapien.</a>
                            <p>In vitae convallis diam. Nulla pellentesqu nulla sed tellus maximus molestie. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================Blog Area Ends================= -->