<section class="pt-5">
    <header class="text-center">
        <p class="small text-muted small text-uppercase mb-1">Категории Apple</p>
        <h2 class="h5 text-uppercase mb-4">Просмотр категорий</h2>
    </header>
    <div class="row justify-content-center">
        {% for category in category_list %}
        <div class="col-md-4 col-lg-3 mb-4">
            <a class="category-item text-uppercase text-center d-block"
               href="{{ category.get_absolute_url }}">
                <img class="img-fluid"
                     src="{{ category.get_parent_category_image }}"
                     style="width: 200px; height: 200px;"
                     alt="{{ category.title }}" />
                <strong class="category" style="color: black;">{{ category.title }}</strong>
            </a>
        </div>
        {% endfor %}
    </div>
</section>