{% load static %}
<!-- Instagram Area Starts -->
<div class="instagram-area pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title pb-25 text-center">
                    <h2>
                        Instagram Lookbook
                    </h2>
                    <span>Xten@Instagram</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="instagram-img">
                    <img src="{% static 'img/product/instagram-1.jpg' %}" alt="product">
                    <div class="insta-icon">
                        <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="instagram-img">
                    <img src="{% static 'img/product/instagram-2.jpg' %}" alt="product">
                    <div class="insta-icon">
                        <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="instagram-img">
                    <img src="{% static 'img/product/instagram-3.jpg' %}" alt="product">
                    <div class="insta-icon">
                        <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="instagram-img">
                    <img src="{% static 'img/product/instagram-4.jpg' %}" alt="product">
                    <div class="insta-icon">
                        <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram Area Ends -->