{% load static %}
<!-- Women-product Limited Offer Starts -->
<div class="women-produt-area pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-5 col-8 offset-xl-1 offset-lg-1 ">
                <div class="product-img">
                    <img src="{% static 'img/blog/blog-2.jpg' %}" alt="women">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-7 col-12 offset-xl-1 offset-lg-1 ">
                <div class="hero-text pt-180">
                    <h1>
                        Women Smart Shirt
                    </h1>
                    <span>Limited Offer 25% Off!</span>
                    <p>Phasellus vel elit efficitur, gravida libero sit amet, scelerisque mauris.</p>
                    <a href="shop-detalis-page.html"><i class="fa fa-plus" aria-hidden="true"></i> Discover More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Women-product Limited Offer Ends -->