{% load static %}
<!-- =================Product-discount Area Starts================= -->
<div class="product-discount-area pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="discount" style="background-image: url({% static 'img/product/product-bg-1.png' %});">
                    <div class="discount-detalis pr-35 pt-85 pb-85">
                        <span>Up To 75%</span>
                        <p>Get Discount Info
                            Men's T-shirt Summer
                            Fashion - 2019
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="deal-area pl-50 pt-40 pb-45"
                     style="background-image: url({% static 'img/product/product-bg-2.png' %});">
                    <div class="time-area ">
                        <p>New in Store</p>
                        <div class="section-title">
                            <h3>
                                Deal of the Day
                            </h3>
                        </div>
                        <div id="countdown">
                            <div class="cd-box">
                                <span class="numbers days">00</span>
                                <span class="strings timeRefDays">Days</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers hours">00</span>
                                <span class="strings timeRefHours">Hours</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers minutes">00</span>
                                <span class="strings timeRefMinutes">Mins</span>
                            </div>
                            <div class="cd-box">
                                <span class="numbers seconds">00</span>
                                <span class="strings timeRefSeconds">Secs</span>
                            </div>
                        </div>
                        <a href="cart-page.html" class="dbtn">Buy Now <i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================Product-discount Area Ends================= -->