{% load static %}
<!-- =================Product-sample Area Starts================= -->
<div class="product-sample pt-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-5.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-6.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-7.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-8.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-9.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-10.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-20"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-11.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-12.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">

                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-13.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-14.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-15.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="sample-warpper position-relative">
                    <div class="sample-img">
                        <img src="{% static 'img/product/product-16.png' %}" alt="product">
                    </div>
                    <div class="sample-content text-center">
                        <h6>Women Dress</h6>
                        <span>18 Items</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================Product-sample Area Ends================= -->