{% load static %}
<!-- =================Product Area Starts================= -->
<div class="product-area product-area-2 pt-50 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12">
                <div class="section-title">
                    <h3>
                        Наши товары
                    </h3>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-10 col-8">
                <div id="myDiv" class="product-menu ">
                    <button class="pbtn  active" data-filter="*">Все</button>
                    <hr>
                    <button class="pbtn  " data-filter=".cat1">Новинки</button>
                    <hr>
                    <button class="pbtn " data-filter=".cat2">Популярные товары</button>
                    <hr>
                    <button class="pbtn " data-filter=".cat3">Специальные предложения</button>
                    <hr>
                    <button class="pbtn " data-filter=".cat4">Лучшие продажи</button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container pl-0 pr-0">
        <div class="custom-row ">
            <div class="product-active  pt-30">
                {% for product in top_products %}
                    {% include 'shop/_components/_product_card.html' %}
                {% empty %}
                    <p>No products</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- =================Product Area Ends================= -->