{% load static %}

<!-- Slider Area Starts -->
<div class="slider-area slider-area-2   owl-carousel position-relative">
        <div class="single-slide" style="background-image: url({% static 'img/slider/slider-bg-2.jpg' %});">
            <div class="slider-content slider-height">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-7 col-sm-12 offset-xl-0 offset-lg-2">
                            <div class="hero-text ">
                                <p>Women's Fashion 2019</p>
                                <h1>
                                    Lace Up Mesh Cover
                                </h1>
                                <span class="d-block">Limited Offer 25% Off</span>
                                <div class="hero-button pt-30">
                                    <a href="shop-grid-page.html" class="sbtn">Shop Now <i class="fa fa-angle-right"
                                                                                           aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="background-image: url({% static 'img/slider/slider-bg-2.jpg' %});">
            <div class="slider-content slider-height">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-7 col-sm-12 offset-xl-0 offset-lg-2">
                            <div class="hero-text">
                                <p>Women's Fashion 2019</p>
                                <h1>
                                    Lace Up Mesh Cover
                                </h1>
                                <span class="d-block">Limited Offer 25% Off</span>
                                <div class="hero-button pt-30">
                                    <a href="#" class="sbtn">Shop Now <i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="background-image: url({% static 'img/slider/slider-bg-2.jpg' %});">
            <div class="slider-content slider-height">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-7 col-sm-12 offset-xl-0 offset-lg-2 ">
                            <div class="hero-text ">
                                <p>Women's Fashion 2019</p>
                                <h1>
                                    Lace Up Mesh Cover
                                </h1>
                                <span class="d-block">Limited Offer 25% Off</span>
                                <div class="hero-button pt-30">
                                    <a href="#" class="sbtn">Shop Now <i class="fa fa-angle-right"
                                                                         aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Slider Area Ends -->