{% load static %}
<!-- Brand Area Starts -->
<div class="brand-area pt-50 ">
    <div class="container">
        <div class="brand-active">
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand1.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand2.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand3.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand4.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand1.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand2.png' %}" alt="brand">
                </div>
            </div>
            <div class="single-brand">
                <div class="brand-img">
                    <img src="{% static 'img/brand/brand3.png' %}" alt="brand">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area Starts  -->