<!--  Footer Area Starts  -->
<footer class="bg-dark">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3 text-white">Сервисы</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Помощь &amp; Контакты</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Returns &amp; Refunds</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Наши проекты</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3 text-white">Компания</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">О нас</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Наши проекты</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Последние новости</a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">Вопросы и ответы</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3 text-white">Социальные сети</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">
                            <i class="fab fa-twitter me-2"></i>Twitter
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">
                            <i class="fab fa-instagram me-2"></i>Instagram
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">
                            <i class="fab fa-telegram me-2"></i>Тelegram
                        </a>
                    </li>
                    <li class="mb-2">
                        <a class="text-decoration-none text-light" href="#">
                            <i class="fab fa-pinterest me-2"></i>Pinterest
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-lg-6">
                    <p class="small text-light mb-0">&copy; 2025 Все права защищены.</p>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <p class="small text-light mb-0">
                        Купи Apple
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--  Footer Area Ends  -->
