<!--  Footer Area Starts  -->
<footer class="bg-dark text-white">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Сервисы</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Помощь &amp; Контакты</a></li>
                    <li><a class="footer-link" href="#">Returns &amp; Refunds</a></li>
                    <li><a class="footer-link" href="#">Наши проекты</a></li>
                    <li><a class="footer-link" href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h6 class="text-uppercase mb-3">Компания</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">О нас</a></li>
                    <li><a class="footer-link" href="#">Наши проекты</a></li>
                    <li><a class="footer-link" href="#">Последние новости</a></li>
                    <li><a class="footer-link" href="#">Вопросы и ответы</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6 class="text-uppercase mb-3">Социальные сети</h6>
                <ul class="list-unstyled mb-0">
                    <li><a class="footer-link" href="#">Twitter</a></li>
                    <li><a class="footer-link" href="#">Instagram</a></li>
                    <li><a class="footer-link" href="#">Тelegram</a></li>
                    <li><a class="footer-link" href="#">Pinterest</a></li>
                </ul>
            </div>
        </div>
        <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
                <div class="col-lg-6">
                    <p class="small text-muted mb-0">&copy; 2025 Все права защищены.</p>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <p class="small text-muted mb-0">
                        Купи Apple
                </div>
            </div>
        </div>
    </div>
</footer>
<!--  Footer Area Ends  -->