{% load static %}

{% for product in page_obj %}
  <!-- Кнопка для открытия модального окна -->
  <li class="list-inline-item mr-0">
    <a class="btn btn-sm btn-outline-dark"
       href="#productView-{{ product.id }}"
       data-toggle="modal">
      <i class="fas fa-expand"></i>
    </a>
  </li>
  <!-- Модальное окно для продукта -->
  <div class="modal fade"
       id="productView-{{ product.id }}"
       tabindex="-1"
       role="dialog"
       aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="row align-items-stretch">
            <div class="col-lg-6 p-lg-0">
              <a class="product-view d-block h-100 bg-cover bg-center"
                 style="background: url({{ product.get_main_photo }})"
                 href="{{ product.get_main_photo }}"
                 data-lightbox="productview-{{ product.id }}"
                 title="{{ product.title }}"></a>
              {% for image in product.images.all %}
                <a class="d-none"
                   href="{{ image.image.url }}"
                   title="{{ product.title }}"
                   data-lightbox="productview-{{ product.id }}"></a>
              {% endfor %}
            </div>
            <div class="col-lg-6">
              <button class="close p-4"
                      type="button"
                      data-dismiss="modal"
                      aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <div class="p-5 my-md-4">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item m-0">
                    <i class="fas fa-star small text-warning"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fas fa-star small text-warning"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fas fa-star small text-warning"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fas fa-star small text-warning"></i>
                  </li>
                  <li class="list-inline-item m-0">
                    <i class="fas fa-star small text-warning"></i>
                  </li>
                </ul>
                <h2 class="h4">{{ product.title }}</h2>
                <p class="text-muted">{{ product.price }} руб.</p>
                <p class="text-small mb-4">{{ product.info }}</p>
                <div class="row align-items-stretch mb-4">
                  <div class="col-sm-7 pr-sm-0">
                    <div class="border d-flex align-items-center justify-content-between py-1 px-3">
                      <span class="small text-uppercase text-gray mr-4 no-select">Количество</span>
                      <div class="quantity">
                        <button class="dec-btn p-0">
                          <i class="fas fa-caret-left"></i>
                        </button>
                        <input class="form-control border-0 shadow-0 p-0" type="text" value="1" />
                        <button class="inc-btn p-0">
                          <i class="fas fa-caret-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-5 pl-sm-0">
                    <a class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0"
                       href="cart.html">Добавить в корзину</a>
                  </div>
                </div>
                <a class="btn btn-link text-dark p-0" href="#">
                  <i class="far fa-heart mr-2"></i>Добавить в виш-лист
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
