{% load static %}

<!-- Autopopup Area Starts -->
<div id="autopopup-option" class="subscribe-area newsletter-page wow fadeIn bg-transparent ">
    <div class="subscribe-detalis pt-90 pr-90 pl-90 pb-80"
         style="background-image: url(assets/img/bg/subscribe-bg.png);">
        <div id="close-button">
            <button><i class="fas fa-times"></i></button>
        </div>
        <div class="mess-icon text-center pb-30">
            <img src="{% static 'img/icon/email-red.png' %}" alt="messages">
        </div>
        <div class="discount-text text-center pb-15 ">
            <span>Newsletter</span>
            <p>Get Discount 30% Off !</p>
        </div>
        <form action="#" class="text-center">
            <input type="email" placeholder="Enter Your Email...">
            <button>Subscribe</button>
        </form>
        <div class="news-checkbox text-center pt-25">
            <input type="checkbox" id="checkbox"><label for="checkbox">Do not show this popup again !</label>
        </div>
    </div>
</div>
<!-- Autopopup Area Ends -->