{% load static %}
<!-- Subscribe Area Starts -->
<div class="subscribe-area pt-50 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                <div class="mess-icon text-center pb-30">
                    <img src="{% static 'img/icon/email-red.png' %}" alt="messages">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12 offset-xl-3 offset-lg-2 offset-md-1">
                <form action="#">
                    <input type="email" placeholder="Enter Your Email...">
                    <button>Subscribe</button>
                </form>
                <div class="discount-text text-center pt-45">
                    <p>Get Discount 30% Off !</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Subscribe Area Starts -->