{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <section class="hero pb-3 bg-cover bg-center d-flex align-items-center"
                 style="background: url({% static 'img/hero-banner-alt.jpg' %})">
            <div class="container py-5">
                <div class="row px-4 px-lg-5">
                    <div class="col-lg-6">
                        <p class="text-muted small text-uppercase text-white mb-2">Новинки 2025</p>
                        <h1 class="h2 text-uppercase text-white mb-3">
                            20% скидка на новинки
                        </h1>
                        <a class="btn btn-light" href="{% url 'shop:all_products' %}">
                            Смотреть все товары</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- CATEGORIES SECTION-->
        {% include 'index/_components/_categories.html' %}
        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
            <header>
                <p class="small text-muted small text-uppercase mb-1">Лучшее качество</p>
                <h2 class="h5 text-uppercase mb-4">Самые продаваемые товары</h2>
            </header>
            <div class="row">
                <!-- PRODUCT-->
                    {% for product in products %}
                        {% include 'shop/_components/_product_card.html' %}
                    {% endfor %}
            </div>
        </section>
        <!-- SERVICES-->
        {% include 'index/_components/_services.html' %}
        <!-- NEWSLETTER-->
        {% include 'index/_components/_newsletter.html' %}
    </div>
{% endblock %}